extends layout

block content
	div(ng-app="card-stack-demo")
	
		card-dir
	
		div(id="viewport",  ng-controller="card-stack-playground")
			ul(class="stack", swing-stack)

				li(
					class="item ng-class:mood;  ",
					style="background-image:url('{{card.image}}')",
					swing-card,
					swing-on-throwout="throwout(eventName, eventObject)",
					swing-on-throwoutleft="throwoutleft(eventName, eventObject)",
					swing-on-throwoutright="throwoutright(eventName, eventObject)",
					swing-on-throwin="throwin(eventName, eventObject)",
					swing-on-dragstart="dragstart(eventName, eventObject)",
					swing-on-dragmove="dragmove(eventName, eventObject)",
					swing-on-dragend="dragend(eventName, eventObject)",
					ng-repeat="card in cards",
					
					ng-id="{{card._id}}"
					)
					div( class="moodSelect")
						div
					div( class="grad {{card.style}}" )
						h3( class="noselect")
							{{card.headline}} 
						p( class="noselect")
							{{card.bodytext}}

			
